<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Demande de contact</title>

    </head>
    <body>
    
    <h1>Demande de contact</h1>

    <h3>Mr et Mme Jones ont demandé des informations</h3>

    </body>
</html>
